
.well-right {
    margin-top: 19px;
    background: white;
}
.well-left {
    background: white;
}
.circle-btn {
    background: rgb(92,184,92);
    border-radius: 50%;
    margin-right: 20px;
  }
.glyphicon {
    font-size: 20px;
}
.inf {
    margin-left:  30px;
    margin-bottom: 15px;
}
.slt{
    width: 50%;
    margin-bottom: 15px;
    font-size: 16px;
}
.center{
    margin: auto;
}
.alignleft {
	float: left;
}
.alignright {
    margin-left: 70%;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

#circle{
    height:15px;
    width:15px;
    border-radius: 50%;
    
     opacity: 0.0;

    -webkit-animation: pulsate 1000ms ease-out;
    -webkit-animation-iteration-count: infinite; 
        
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

@-webkit-keyframes pulsate {
    0% {opacity: 0.1;}
    40% {opacity: 1.0;}
    60% {opacity: 1.0;}
    100% {opacity: 0.1;}
}

.pay{
    background:red;
}

.online{
    background:green;
}

.some-other-status{
    background:blue;  
}
